.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container img {
    max-width: 100%;
    height: auto;
  }
  
  .container h2 {
    margin-top: 16px; /* Ajuste a margem conforme necessário */
  }
  